.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../../assets/images/nutrition-center.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    color: var(--white);
    font-size: 64px;
    line-height: 200px;
    text-shadow: 2px 2px #000;
}
.description{
    color: var(--white);
    font-size: 24px;
    width: 50%;
    background-color: #0c0c0c50;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    backdrop-filter: blur(3px);
}
@media (max-width:600px){
    .header{
        font-size: 150%;
        line-height: normal;
    }
    .description{
        width: 100%;
        font-size: 100%;
    }
}