.favorite{
    padding: 10px 20px;
    border-radius: 16px;
    cursor: url('../../assets/cursors/hand.png'), auto !important;
    transition: 0.5s ease;
    box-shadow: 2px 5px 0px var(--green);
    border: none;
    position: fixed;
    top: 15rem;
    right: 1rem;
}
.favorite:active{
    transform: translateY(5px);
    box-shadow: 0px 0px 0px var(--green);
}
.maleColors{
    color: var(--navy);
}
.femaleColors{
    color: var(--pink);
}
button.maleColors:hover{
background-color: var(--navy);
color: var(--white);
}
button.femaleColors:hover{
    background-color: var(--pink);
    color: var(--white);
}
/* @media (max-width:1117px){
    .favorite{
        top: 45%;
    }
}
@media (max-width:697px){
    .favorite{
        top: 40%;
    }
}
@media (max-width:500px){
    .favorite{
        top: 30%;
    }
}
@media (max-width:350px){
    .favorite{
        top: 30%;
    }
} */