.wrapper{
    position: relative;
    height: 100vh;
    width: 100vw;
}
.htmlContainer, .link, .homelink, .header{
    background-color: transparent;
}
.htmlContainer{
    width: 700px;
}
.header{
    font-size: 40px;
}
.link, .homelink{
    text-decoration: none;
    color: var(--black);
    font-size: 30px;
    cursor: url('../../assets/cursors/hand.png'), auto !important;
    line-height: 70px;
    transition: 0.5s ease;
}
.link:hover{
    font-size: 36px;
    color: var(--green);
}
.homelink{
    color: var(--green);
    font-size: 26px;
}
.homelink:hover{
    color: rgb(250, 37, 37);
    font-size: 30px;
}
.none{
    display: none;
}