.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.left{
    height: 100px;
    width: 100px;
    cursor: url('../../assets/cursors/hand.png'),auto !important;
}
.logo{
    border-radius: 100px;
    object-fit: contain;
    cursor: url('../../assets/cursors/hand.png'),auto !important;
}