.wrapper, .upper, .content, .image, .green, .maleColors, .femaleColors{
    background-color: transparent;
}
.wrapper.maleColors{
    background-size: cover;
}
.wrapper.femaleColors{
    background-size: cover;
}
.wrapper{
    min-height: 100vh;
    width: 100%;
    display: flex;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.header{
    color: var(--black);
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left:200px;
    font-size: 48px;
    align-self: flex-start;
    background-color: transparent;
}
.upperContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.content{
    font-size: 24px;
    line-height: 40px;
    text-align: start;
    width: 40%;
    padding-left: 20px;
    color: var(--black);
}
.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.image{
    border-radius: 16px;
}
.green{
    background: transparent;
    color: var(--green);
}
.maleColors{
    color: var(--grey);
}
.femaleColors{
    color: var(--grey);
}
.back{
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: var(--white);
    border-radius: 16px;
    align-self: flex-end;
    cursor: url("../../assets/cursors/hand.png"), auto !important;
    transition: 0.5s ease;
    width: 100px;
    align-self: flex-start;
}
.back.maleColors{
    background-color: var(--navy);
}
.back.femaleColors{
    background-color: var(--pink);
}
.back:hover{
    background-color: red;
}

@media (max-width:1035px){
    .wrapper{
        flex-direction: column;
    }
}

@media (max-width:900px){
    .upper{
        flex-direction: column;
    }
    .content{
        width: 100%;
    }
}