.wrapper, .upper, .content, .image, .green, .maleColors, .femaleColors{
    background-color: transparent;
}
.wrapper.maleColors{
    background-size: cover;
}
.wrapper.femaleColors{
    background-size: cover;
}
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.header{
    color: var(--black);
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left:200px;
    font-size: 48px;
    align-self: flex-start;
    background-color: transparent;
}
.upperContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.content{
    font-size: 24px;
    line-height: 40px;
    text-align: start;
    width: 40%;
    padding-left: 20px;
    color: var(--black);
}
.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.image{
    border-radius: 16px;
}
.green{
    background: transparent;
    color: var(--green);
}
.maleColors{
    color: var(--grey);
}
.femaleColors{
    color: var(--grey);
}
