.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.header{
    color: var(--white);
    padding-top: 200px;
    padding-left:200px;
    font-size: 48px;
    align-self: flex-start;
    background-color: transparent;
}
.maleColors{
    background-image: url('../../assets/images/dumbells.jpg');
    background-size: cover;
}
.femaleColors{
    background-image: url('../../assets/images/girlDumbell1.jpg');
    background-size: cover;
}


@media(max-width:480px){
    .header{
        padding-left: 30px;
    }
}