.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    position: relative;
    margin: 50px;
}
.header{
    align-self: flex-start;
    margin: 20px;
    font-size: 36px;
    color: var(--green);
}
.subHeader{
    padding-left: 40px;
}
.grey{
    color: var(--grey);
}
.itemList{
    padding-left: 100px;
    font-size: 20px;
}
.list{
    display: flex;
    flex-direction: column;
}
.lists{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}