.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    position: relative;
    margin: 50px;
}
.header{
    align-self: flex-start;
    margin: 20px;
    font-size: 36px;
    color: var(--green);
}
.table{
    width: 80%;
    min-width: 600px;
    min-height: 300px;
    padding: 20px;
    margin: 10px auto;
    border-collapse: collapse;
}
.tableHeader, .tableContent, .tableHead, .tableHeaders{
    border: 2px  solid var(--black);
    padding: 10px;
}
.tableHeaders{
    font-size: 20px;
    color: var(--white);
    background-color: var(--green);
}
.tableContent{
    text-align: center;
}
.grey{
    color: var(--grey);
    display: block;
}
.tableRow:nth-child(even){
    background-color: white
}
.formula{
    text-align: center;
    width: 100%;
    color: var(--green);
    font-size: 20px;
}
.calculatorContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
    margin: 20px auto;
    border: 2px solid var(--green);
    padding: 100px;
    border-radius: 16px;
    position: relative;
}
.groupSelector{
    padding: 10px;
    cursor: url('../../assets/cursors/hand.png'),auto !important;
    font-size: 16px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 16px;
    outline: none;
    border: none;
}
.option{
    cursor: url('../../assets/cursors/hand.png'), auto !important;
}
.calculator{
    border: none;
    text-align: center;
    padding: 10px;
    width: 100px;
    outline: none;
    cursor: url("../../assets/cursors/txt.png"), auto !important;
    background-color: var(--white);
    border-bottom: 1px solid var(--green);
}
.calculator:focus::placeholder{
    opacity: 0;
}
.calculate{
    border: none;
    box-shadow: 0px 5px 0px var(--black);
    background-color: var(--green);
    border-radius: 16px;
    padding: 10px 20px;
    margin-left: 20px;
    color: var(--white);
    font-size: 16px;
    cursor: url("../../assets/cursors/hand.png"), auto !important;
    transition: 0.5s ease;
}
.calculate:active{
    box-shadow: 0px 0px 0px var(--black);
    transform: translateY(7px);
}
.result{
    position: absolute;
    bottom: 1rem;
    left: 6.5rem;
    font-size: 16px;
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    border-radius: 16px;
    width:80%;
    padding: 10px;
    transition: 0.5s ease;
}
.result:hover{
    scale: 1.05;
}