@font-face {
  font-family: 'poppins';
  src: url('./fonts/poppins.ttf') format('truetype');
}
body{
  background-color: var(--white);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url('./assets/cursors/cursor.png'), auto !important;
  font-family: 'poppins', sans-serif ;
  
}
*::selection{
  color: var(--green);
  background-color: black;
  -webkit-font-smoothing: antialiased;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root{
  --background-green:#DCE1B4;
  --green:#92E3A9;
  --accent1-green:#b3bf58;
  --accent-green:#92E3A9;
  --navy:#3E92CC;
  --black:#050505;
  --lighter-black:#2c2c2c; 
  --grey:#7b7b7b;
  --pink:#F5C7D6;
  --white:#F4F4F4;
}

/* change the scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green);
  filter: brightness(1.2);
}
