@font-face {
  font-family: 'poppins';
  src: url('./fonts/poppins.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url('./assets/cursors/cursor.png'), auto !important;
  font-family: 'poppins', sans-serif ;
  background-color: var(--white);
}
*::selection{
  color: var(--green);
}

:root{
  --green:#DCE1B4;
  --navy:#000435;
  --black:#050505;
  --lighter-black:#2c2c2c; 
  --grey:#7b7b7b;
  --pink:#F5C7D6;
  --white:#F4F4F4;
}

/* change the scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green);
  filter: brightness(1.2);
}
